.plan {
    width: 87.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    margin: 0 0 0 auto;
}

.column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 24px;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    justify-content: space-evenly;
}


.headerTitle {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #0CA941;
    margin-bottom: 24px;
}

.headerText {
    font-family: Rubik, sans-serif;
    max-width: 530px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #678570;
    padding-right: 100px;
}

.buttons input {
    position: absolute;
    top: 5px;
    left: 5px;
    appearance: none;
    background-color: initial;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.planBodyTitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    padding: 20px 50px 20px 20px;
}

.planBodyText {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #402B2B;
    padding: 20px;
    align-self: stretch;
}

.buttons-red input:checked::before {
    content: url("./img/blockRed.svg");
    display: block;
    position: absolute;
}

.buttons-orange input:checked::before {
    content: url("./img/blockOrange.svg");
    display: block;
    position: absolute;
}

.buttons-green input:checked::before {
    content: url("./img/blockGreen.svg");
    display: block;
    position: absolute;
}

.buttons-blue input:checked::before {
    content: url("./img/blockBlue.svg");
    display: block;
    position: absolute;
}

.buttons-violet input:checked::before {
    content: url("./img/blockViolet.svg");
    display: block;
    position: absolute;
}

.buttons label {
    margin-right: 24px;
}

.buttons div {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 34px;
    gap: 34px;
    width: 100%;
    border-radius: 10px;
    margin: 24px 100px 24px 0;
}

.buttons div::before {
    content: url("./img/znakVoskl.svg");
}

.buttonsInfo-red {
    background-color: #E53F3F;
}

.buttonsInfo-orange {
    background-color: #F38A2A;
}

.buttonsInfo-green {
    background: #0CA941;
}

.buttonsInfo-blue {
    background-color: #3FBEE5;
}

.buttonsInfo-violet {
    background-color: #5056B5;
}

.planBody-red {
    width: 100%;
    display: flex;
    align-items: center;
    color: #E53F3F;
}

.planBody-red::before {
    content: url("img/lineRed.svg");
}

.planBody-orange {
    width: 100%;
    display: flex;
    align-items: center;
    color: #F38A2A;
}

.planBody-orange::before {
    content: url("img/lineOrange.svg");
}

.planBody-green {
    width: 100%;
    display: flex;
    align-items: center;
    color: #0CA941;
}

.planBody-green::before {
    content: url("img/lineGreen.svg");
}

.planBody-blue {
    width: 100%;
    display: flex;
    align-items: center;
    color: #3FBEE5;
}

.planBody-blue::before {
    content: url("img/lineBlue.svg");
}

.planBody-violet {
    width: 100%;
    display: flex;
    align-items: center;
    color: #5056B5;
}

.planBody-violet::before {
    content: url("img/lineViolet.svg");
}

.picture {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1023px) {
    .plan {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-top: 80px;
    }

    .column {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 0 30px 0;
    }

    .header {
        margin-bottom: 24px;
    }

    .headerTitle {
        margin-bottom: 5px;
    }
}

@media (max-width: 1023px) {
    .plan {
        width: 95%;
    }

    .planBodyTitle {
        padding: 20px 20px 0 20px;
    }
}

@media (max-width: 768px) {

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header {
        align-items: center;
    }

    .headerText {
        text-align: center
    }

    .headerText {
        padding: 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .buttons div {
        margin: 20px 0 0 0;
    }
}