.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 87.5%;
  margin: 0 0 0 auto;
  padding-top: 105px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;
  margin-right: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-bottom: 30px;
}

.headerTitle {
  margin-bottom: 24px;

  font-family: Poppins, sans-serif;
  font-size: 46px;
  font-weight: 900;
  font-style: normal;
  line-height: 60px;
  color: #0ca941;
  letter-spacing: 0.05em;
}

.headerText {
  max-width: 530px;
  padding-right: 100px;

  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 160%;
  color: #678570;
}

.buttons input {
  cursor: default;

  position: absolute;
  top: 5px;
  left: 5px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: initial;
  border: none;

  appearance: none;
}

.planBodyTitle {
  display: flex;
  align-items: center;

  padding: 20px 50px 20px 20px;

  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.05em;
}

.planBodyText {
  align-self: stretch;

  padding: 20px;

  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  color: #402b2b;
}

.buttons-red input:checked::before {
  content: url('./img/blockRed.svg');

  position: absolute;

  display: block;
}

.buttons-orange input:checked::before {
  content: url('./img/blockOrange.svg');

  position: absolute;

  display: block;
}

.buttons-green input:checked::before {
  content: url('./img/blockGreen.svg');

  position: absolute;

  display: block;
}

.buttons-blue input:checked::before {
  content: url('./img/blockBlue.svg');

  position: absolute;

  display: block;
}

.buttons-violet input:checked::before {
  content: url('./img/blockViolet.svg');

  position: absolute;

  display: block;
}

.buttons label {
  margin-right: 24px;
}

.buttons div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;
  width: 100%;

  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: #ffffff;

  border-radius: 10px;
}
.buttons span {
  display: flex;
  gap: 0;
  justify-content: start;

  padding: 22px 34px 22px 0;
}
.buttons div::before {
  content: url('./img/znakVoskl.svg');
}

.buttonsInfo-red {
  gap: 34px;

  padding: 22px 34px;

  background-color: #e53f3f;
}

.buttonsInfo-orange {
  gap: 34px;

  padding: 22px 34px;

  background-color: #f38a2a;
}

.buttonsInfo-green {
  gap: 34px;

  padding: 22px 34px;

  background: #0ca941;
}

.buttonsInfo-blue {
  gap: 34px;

  padding: 22px 34px;

  background-color: #3fbee5;
}

.buttonsInfo-violet {
  gap: 34px;

  padding: 22px 34px;

  background-color: #5056b5;
}

.planBody-red {
  display: flex;
  gap: 34px;
  align-items: center;

  width: 100%;

  color: #e53f3f;
}

.planBody-red::before {
  content: url('img/lineRed.svg');
}

.planBody-orange {
  display: flex;
  align-items: center;

  width: 100%;

  color: #f38a2a;
}

.planBody-orange::before {
  content: url('img/lineOrange.svg');
}

.planBody-green {
  display: flex;
  align-items: center;

  width: 100%;

  color: #0ca941;
}

.planBody-green::before {
  content: url('img/lineGreen.svg');
}

.planBody-blue {
  display: flex;
  align-items: center;

  width: 100%;

  color: #3fbee5;
}

.planBody-blue::before {
  content: url('img/lineBlue.svg');
}

.planBody-violet {
  display: flex;
  align-items: center;

  width: 100%;

  color: #5056b5;
}

.planBody-violet::before {
  content: url('img/lineViolet.svg');
}

.picture {
  display: block;

  width: 100%;
  height: 100%;
}

@media (max-width: 1023px) {
  .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95%;
    margin: 0 auto;
  }

  .column {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 0 30px 0;
  }

  .header {
    margin-bottom: 24px;
  }

  .headerTitle {
    margin-bottom: 5px;
  }
  .planBodyTitle {
    padding: 20px 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header {
    align-items: center;

    text-align: center;
  }

  .headerText {
    text-align: center;
  }

  .headerText {
    padding: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
  }
  .buttons span {
    padding: 22px 0;
  }
}
