.gallery {
  width: 75%;
  margin: 126px auto 0;
}

.picture {
  overflow-x: scroll;

  width: 100%;
  margin: 47px auto 0 auto;

  white-space: nowrap;
}

.picture img {
  display: inline-block;

  width: 320px;
  height: 200px;
  margin: 0 20px 31px 0;

  vertical-align: top;

  border-radius: 8px;
}

.picture::-webkit-scrollbar {
  height: 10px;

  background-color: #ebdbdb;
  border-radius: 5px;
}

.picture::-webkit-scrollbar-thumb {
  background-color: #8da67a;
  border-radius: 5px;
}

@media (max-width: 1023px) {
  .gallery {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .gallery {
    margin-top: 54px;
  }
}
