@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  @include text($textCardsFont, 24px, 600, 30px, $textColor);
  @include flexColumnJustify(space-evenly);
  position: relative;
  align-items: center;

  box-sizing: border-box;
  width: 300px;
  height: 437px;
  margin: 15px 1px 15px 0;

  background: #ffffff;
  border: $borderButton rgba(0, 0, 0, 0.36);
  border-radius: 37px;
}

.selectedBox {
  @include text($textCardsFont, 24px, 600, 30px, $textColor);
  @include flexColumnJustify(space-evenly);
  align-items: center;

  box-sizing: border-box;
  width: 300px;
  height: 437px;
  margin: 15px 1px 15px 0;

  background: #ecf1e7;
  border: $borderButton rgba(0, 0, 0, 0.36);
  border-radius: 37px;
}

.box button {
  @include text($textLinkFont, 16px, 400, 24px, $textTitleSecondColor);
  cursor: pointer;

  width: 128.06px;
  height: 43.93px;

  background: #ffffff;
  border: $borderButton rgba(55, 74, 61, 0.36);
  border-radius: 10px;
}
.box button:hover {
  border: none;
  background: #69c889;
  color: $textButtonColor;
}

.selectedBox button {
  @include text($textLinkFont, 16px, 400, 24px, $textButtonColor);
  cursor: pointer;

  width: 128.06px;
  height: 43.93px;

  background: #69c889;
  border: none;
  border-radius: 10px;
}
.selectedBox button:hover {
  background: #ffffff;
  border: $borderButton rgba(55, 74, 61, 0.36);
  border-radius: 10px;
  color: $textTitleSecondColor;
}

.img {
  width: 181px;
  height: 253px;

  background-position: center;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .box {
    width: 300px;
  }

  .selectedBox {
    width: 300px;
  }
}
