.icon {
    width: 170px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0CA941;
    text-align: center;
}

.text {
    padding-top: 20px;
}