@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.aboutUs {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
.aboutUsBody {
  @include text($textLinkFont, 18px, 300, 140%, none);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 87.5%;
  margin: 0 auto 0 0;
}

.aboutUsBodyPicture {
  display: block;

  width: 100%;
  height: 100%;
}
.aboutUsBodyPicture svg {
  padding: 0;
}
.aboutUsBodyText {
  width: 95%;
}
.aboutUsBodyTextGreen {
  color: #588535;
}

@media (max-width: 1023px) {
  .aboutUs {
    padding-top: 70px;
  }
  .aboutUsBody {
    @include flexColumnJustify(space-between);

    align-items: center;

    width: 100%;
    margin: 30px auto 0;
  }
  .aboutUsBodyText {
    width: 95%;
    padding: 14px 0;
  }
}
