@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.gardener {
  @include flexColumnJustify(center);

  width: 75%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .gardener {
    width: 95%;
  }
}
