.gardener {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0 46px 0;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #0CA941;
}

.text {
    max-width: 752px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #678570;
}
@media (max-width: 1023px) {
    .gardener {
        width: 95%;
    }
}