.festival {
  width: 75%;
  margin: 0 auto;
}

.festivalPicture {
  width: 58%;
  margin: 0 auto;
}

.festivalPicture svg {
  padding: 0;
}

.text {
  padding: 34px;

  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;

  background-color: #ffffff;
}

.festivalBodyTextGreen {
  color: #588535;
}

@media (max-width: 1023px) {
  .festival {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .text {
    padding: 14px;
  }
}
