.festival {
    width: 75%;
    margin: 0 auto;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 100%;
    color: #0CA941;
    padding: 120px 0 63px 0;
    text-align: center;
}

.festivalPicture {
    width: 58%;
    margin: 0 auto;
}

.festivalPicture svg {
    padding: 0;
}

.text {
    background-color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 34px;
}

.festivalBodyTextGreen {
    color: #588535;
}

@media (max-width: 1023px) {
    .festival {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 54px 0 30px 0;
    }
    .text {
        padding: 14px;
    }
}