@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.festival {
  width: 75%;
  margin: 0 auto;
}

.festivalPicture {
  width: 58%;
  margin: 0 auto;
}

.festivalPicture svg {
  padding: 0;
}

.text {
  @include text($textLinkFont, 16px, 400, 140%, none);

  padding: 34px;

  background-color: #ffffff;
}

.festivalBodyTextGreen {
  color: #588535;
}

@media (max-width: 1023px) {
  .festival {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .text {
    padding: 14px;
  }
}
