@import 'src/styles/mixin.scss';
@import 'src/styles/variables.scss';

.aboutConcurs {
  @include flexColumnJustify(none);
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.aboutConcursBody {
  @include text($textLinkFont, 18px, 400, 140%, none);
  @include flexColumnJustify(center);
  width: 75%;
  margin: 64px auto 0 auto;
}
.aboutConcursBodyPicture {
  display: block;

  width: 100%;
  height: 100%;
}
.aboutConcursBodyPicture svg {
  margin: 0;
  padding: 0;
}

.aboutConcursBodyText {
  padding: 34px;
}
.aboutConcursBodyTextGreen {
  color: #588535;
}

.aboutConcursGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 95%;
  margin: 54px auto 0 auto;
}
.aboutConcursGallery img {
  min-width: 280px;
  max-width: 408px;
  margin: 24px auto;

  border-radius: 8px;
}

@media (max-width: 1023px) {
  .aboutConcurs {
    padding-top: 70px;
  }
  .aboutConcursHeader {
    width: 95%;
  }
  .aboutConcursBody {
    width: 95%;
    margin: 30px auto 0;
  }
}

@media (max-width: 768px) {
  .aboutConcursBodyText {
    padding: 15px;
  }
}
