.aboutConcurs {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.aboutConcursHeader {
  width: 75%;
  margin: 0 auto;

  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.aboutConcursHeaderTitle {
  font-size: 46px;
  font-weight: 900;
  font-style: normal;
  line-height: 40px;
  color: #219653;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.aboutConcursHeaderText {
  width: 100%;
  height: 100%;
  margin-top: 20px;

  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  color: #402b2b;
  text-align: center;
}
.aboutConcursBody {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 75%;
  margin: 64px auto 0 auto;

  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
}
.aboutConcursBodyPicture {
  display: block;

  width: 100%;
  height: 100%;
}
.aboutConcursBodyPicture svg {
  margin: 0;
  padding: 0;
}

.aboutConcursBodyText {
  padding: 34px;
}
.aboutConcursBodyTextGreen {
  color: #588535;
}

.aboutConcursGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 95%;
  margin: 54px auto 0 auto;
}
.aboutConcursGallery img {
  min-width: 280px;
  max-width: 408px;
  margin: 24px auto;

  border-radius: 8px;
}

@media (max-width: 1023px) {
  .aboutConcurs {
    padding-top: 70px;
  }
  .aboutConcursHeader {
    width: 95%;
  }
  .aboutConcursBody {
    width: 95%;
    margin: 30px auto 0;
  }
}

@media (max-width: 768px) {
  .aboutConcursBodyText {
    padding: 15px;
  }
}
