.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.menu a {
  text-decoration: none;
}

a:hover {
  color: #0ca941;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;

  width: 50%;
  padding-bottom: 4px;
}

.logo img {
  margin: 0 9px 0 0;
}

.logo a {
  font-family: Rubik, sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  color: #374a3d;
}

.logo a:hover {
  color: #0ca941;
  text-decoration: none;
}

.textAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 150%;
}

.buttonMenu {
  cursor: pointer;

  display: none;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  text-align: center;
}

.text div {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.text a,
.burgerLink a {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #1d3b53;
  text-decoration: none;
}

.text a:hover,
.burger a:hover {
  color: #0ca941;
  text-decoration: none;
}

.buttonTrees {
  cursor: pointer;

  width: 155px;
  height: 45px;

  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  color: #ffffff;

  background: #0ca941;
  border: none;
  border-radius: 6px;
}
.buttonTrees:hover,
.buttonMenu:hover {
  color: #0ca941;

  background: #ffffff;
  border: 1px solid #0ca941;
  border-radius: 6px;
}
.burgerLinks li {
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .menu {
    flex-wrap: wrap;
  }
  .text {
    display: none;
  }
  .buttonMenu {
    display: block;

    width: 156px;
    height: 45px;
    margin-right: 1px;

    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    color: #ffffff;

    background: #0ca941;
    border: none;
    border-radius: 6px;
  }
}

@media (max-width: 376px) {
  .buttonMenu {
    width: 90px;
  }
  .logo {
    width: 65%;
  }
}
