.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
}

a:hover {
    color: #0CA941;
    text-decoration: underline;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.logo img{
    margin: 0 9px 0 0;
}

.logo a {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #374A3D;
}

.logo a:hover {
    color: #0CA941;
    text-decoration: none;
}

.textAndButton {
    width: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonMenu {
    display: none;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.text a, .burgerLink a {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1D3B53;
    text-decoration: none;
}

.text a:hover, .burger a:hover {
    color: #0CA941;
    text-decoration: none;
}

.buttonTrees {
    width: 155px;
    height: 45px;
    background: #0CA941;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}
.burgerLinks li{
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .menu {
        flex-wrap: wrap
    }
    .text {
        display: none;
    }
    .buttonMenu  {
        display: block;
        width: 156px;
        height: 45px;
        background: #0CA941;
        border: none;
        border-radius: 6px;
        color: #FFFFFF;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-right: 1px;
    }
}

@media (max-width: 376px) {
    .buttonMenu {
        width: 90px;
    }
    .logo {
        width: 65%;
    }
}