@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.menu {
  @include flexCenterJustify(space-between);
  width: 100%;
}

.menu a {
  text-decoration: none;
}

a:hover {
  color: $textLinkColorHover;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;

  width: 50%;
  padding-bottom: 4px;
}

.logo img {
  margin: 0 9px 0 0;
}

.logo a {
  @include text($textLinkFont, 32px, 700, 100%, $textColor);
}

.logo a:hover {
  color: $textLinkColorHover;
  text-decoration: none;
}

.textAndButton {
  @include flexCenterJustify(space-between);
  width: 150%;
}

.buttonMenu {
  cursor: pointer;

  display: none;
}

.text {
  @include flexCenterJustify(space-between);
  width: 150%;

  text-align: center;
}

.text div {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.text a,
.burgerLink a {
  @include text($textLinkFont, 18px, 700, 21px, $textLinkColor);
  text-decoration: none;
}
.burgerLink .active {
  color: $textLinkColorHover;
}

.text a:hover,
.burger a:hover {
  color: $textLinkColorHover;
  text-decoration: none;
}

.text .active {
  color: $textLinkColorHover;
}

.buttonTrees {
  @include text($textLinkFont, 18px, 700, 21px, $textButtonColor);
  @include button($textLinkColorHover, none, 6px);
  cursor: pointer;

  width: 155px;
  height: 45px;
}

.buttonTrees:hover,
.buttonMenu:hover {
  @include button($textButtonColor, $borderButton + $textLinkColorHover, 6px);
  color: $textLinkColorHover;
}

.burgerLinks li {
  align-items: center;
  justify-content: center;
}

@media (max-width: 1160px) {
  .menu {
    flex-wrap: wrap;
  }

  .text {
    display: none;
  }

  .buttonMenu {
    @include text($textLinkFont, 18px, 700, 21px, $textButtonColor);
    @include button($textLinkColorHover, none, 6px);
    display: block;

    width: 156px;
    height: 45px;
    margin-right: 1px;
  }
}

@media (max-width: 376px) {
  .buttonMenu {
    width: 90px;
  }

  .logo {
    width: 65%;
  }
}
