.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 173px;
    display: flex;
}

.logo div {
    width: 136px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #374A3D;
}

.textAndButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonMenu {
    display: none;
}

.textAndButton a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1D3B53;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 156px;
    height: 45px;
    background: #0CA941;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 768px) {
    .text {
        display: none;
    }

    .menu {

    }
    .textAndButton {
        max-width: 155px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .buttonMenu {
        display: block;
        width: 155px;
        height: 45px;
        background: #0CA941;
        border: none;
        border-radius: 6px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }


}

@media (min-width: 1170px) {
    .textAndButton {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {

    }
}