.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    display: flex;
}

.logo div {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #374A3D;
}

.textAndButton {
    width: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonMenu {
    display: none;
}

.textAndButton a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1D3B53;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.buttonTrees {
    width: 155px;
    height: 45px;
    background: #0CA941;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 767px) {
    .menu {
        flex-wrap: wrap
    }
    .text {
        display: none;
    }
    .buttonMenu  {
        display: block;
        width: 156px;
        height: 45px;
        background: #0CA941;
        border: none;
        border-radius: 6px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-right: 1px;
    }
    .menuActive {
        background-color: #FFFFFF;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 4;
    }
    .menuActive div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (max-width: 362px) {
    .buttonMenu {
        width: 90px;
    }
    .logo {
        width: 65%;
    }
}
