.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-transform: capitalize;
    color: #374A3D;
}

.textAndButton {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textAndButton a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1D3B53;
}
.text {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 156px;
    height: 45px;
    background: #0CA941;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
