.background {
    padding: 51px 0;
}

.footer {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
.footer p {
    font-weight: 300;
    font-size: 24px;
}
.contacts, .documents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.socialNetworks {
    display: flex;
    justify-content: space-between;
}

.socialNetworks img {
    width: 36px;
    margin-left: 31px;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .footer {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .footer {
        display: block;
        font-size: 20px;
        text-align: center
    }
    .documents, .contacts {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 24px;
        padding: 0;
    }
    .socialNetworks {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}