.background {
    padding: 51px 0;

}

.footer, .footer a {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
}

.documents {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a {
    cursor: pointer;
}
.footer a:hover {
    color: #0CA941;
}

.socialNetworks {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.socialNetworks img {
    margin-left: 5px;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .footer {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .footer {
        display: block;
        font-size: 20px;
    }
    .footer a {
        font-size: 20px;
    }
    .documents {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 24px;
    }

    .socialNetworks {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}