@import 'src/styles/mixin.scss';
@import 'src/styles/variables.scss';

.background {
  padding: 51px 0;
}

.footer {
  @include text($textLinkFont, 24px, 600, 36px, $textButtonColor);
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.footer p {
  font-size: 24px;
  font-weight: 200;
}
.contacts,
.documents {
  @include flexColumnJustify(space-between);
  padding: 30px;
}

.contacts p,
.documents p {
  margin: 10px 0;
}

.socialNetworks {
  display: flex;
  justify-content: space-between;
}

.socialNetworks img {
  cursor: pointer;

  width: 24px;
  margin-left: 31px;
}

@media (max-width: 1023px) {
  .footer {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .footer {
    display: block;

    font-size: 20px;
    text-align: center;
  }
  .documents,
  .contacts {
    @include flexCenterJustify(space-evenly);

    width: 100%;
    margin-bottom: 24px;
    padding: 0;
  }
  .socialNetworks {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
  }
}
