$textColor: #374a3d;
$textTitleColor: #0ca941;
$textTitleSecondColor: #678570;
$textLinkColor: #1d3b53;
$textLinkColorHover: #0ca941;
$textButtonColor: #ffffff;

$textTitleFont: 'Poppins', sans-serif;
$textLinkFont: 'Rubik', sans-serif;
$textCardsFont: 'Nunito', sans-serif;
$textFont: 'Arial', sans-serif;

$borderButton: 0.5px solid;
