@import 'src/styles/mixin.scss';
@import 'src/styles/variables.scss';

.aboutFestival {
  @include flexColumnJustify(none);

  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.aboutFestivalBody {
  @include flexColumnJustify(center);
}

.aboutFestivalVideo {
  display: block;

  width: 100%;
  height: 100%;
}

.aboutFestivalBodyText {
  width: 75%;
  margin: 0 auto;
  padding: 34px;
  @include text($textLinkFont, 16px, 400, 140%, none);
}

.aboutFestivalBodyTextGreen {
  color: #588535;
}

@media (max-width: 768px) {
  .aboutFestival {
    padding-top: 70px;
  }

  .aboutFestivalVideo {
    margin-top: 30px;
  }

  .aboutFestivalBodyText {
    width: 95%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 425px) {
  .aboutFestivalHeaderTitle {
    font-size: 38px;
  }
}
