.aboutFestival {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.aboutFestivalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutFestivalVideo {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 54px;
}

.aboutFestivalBodyText {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    width: 75%;
    padding: 34px;
    margin: 0 auto;
}


.aboutFestivalBodyTextGreen {
    color: #588535;
}

@media (max-width: 768px) {
    .aboutFestival {
        padding-top: 70px;
    }

    .aboutFestivalVideo {
        margin-top: 30px;
    }

    .aboutFestivalBodyText {
        width: 95%;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 425px) {
    .aboutFestivalHeaderTitle {
        font-size: 38px;
    }
}