@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.cards {
  @include flexColumnJustify(space-between);
  flex-wrap: wrap;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 75%;
}

@media (max-width: 1023px) {
  .card {
    width: 95%;
  }
}
