.info {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

@media (max-width: 1023px) {
    .info {
        width: 95%;
    }
}
@media (max-width: 906px) {
    .info {
        flex-direction: column;
    }
}