.info {
    width: 75%;
    margin: 130px auto 111px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 906px) {
    .info {
        flex-direction: column;
    }
}