.infoContainer {
  width: 100%;
  padding: 50px 0;

  background-color: #ffffff;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 75%;
  margin: 0 auto;

  font-family: Poppins, sans-serif;

  background-color: #ffffff;
}

@media (max-width: 1023px) {
  .info {
    width: 95%;
  }
}

@media (max-width: 906px) {
  .info {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .infoContainer {
    padding: 50px 0 30px 0;
  }
}
