.picture {
    width: 100%;
    height: 876px;
    background: url("./img/picture.svg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 135px 0 80px 0;
}

.text1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 76px;
    color: #374A3D;
}

.text1 div {
    display: inline-block;
    color: #0CA941;
}

.text2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 32px;
    color: #707070;
}

.button {
    width: 234px;
    height: 68px;
    background: url("img/button/Ellipse.svg");
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1023px) {
    .content {
        width: 95%;
    }
}