.picture {
    /*min-width: 1600px;*/
    /*background: url("./img/picture.svg");*/
    /*height: 876px;*/
    /*left: 0;*/
    /*top: -337px;*/
    /*z-index: -5;*/
}

.content {
    max-width: 1170px;
    min-height: 876px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.texts {
    max-width: 616px;
    min-height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text1 {
    font-family: "Fredoka";
    font-weight: 700;
    font-size: 72px;
    line-height: 76px;
    color: #374A3D;
}

.text1 div {
    display: inline-block;
    color: #0CA941;
}

.text2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 32px;
    color: #707070;
}

.button {
    width: 234px;
    height: 68px;
    background: url("img/button/Ellipse.svg");
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}