@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.picture {
  @include flexCenterJustify(space-around);

  flex-direction: column;

  width: 100%;
  height: 876px;

  background-image: url('./img/picture.svg');
  background-position: center;
  background-size: cover;
}

.content {
  @include flexColumnJustify(space-evenly);

  width: 75%;
  height: 100%;
  margin: 135px 0 80px 0;
}

.text1 {
  @include text($textCardsFont, 72px, 700, 76px, $textColor);
}

.text1 div {
  display: inline-block;

  color: $textLinkColorHover;
}

.text2 {
  @include text($textLinkFont, 38px, 700, 32px, #707070);
}

.button {
  @include text($textLinkFont, 18px, 700, 18px, $textButtonColor);

  @include flexCenterJustify(space-evenly);

  cursor: pointer;

  width: 234px;
  height: 68px;

  background: url('img/button/Ellipse.svg');
  border: none;
}

@media (max-width: 1023px) {
  .content {
    width: 95%;
  }
}

@media (max-width: 511px) {
  .text1 {
    font-size: 64px;
  }
}

@media (max-width: 455px) {
  .text1 {
    font-size: 50px;
  }

  .text2 {
    font-size: 30px;
  }
}

@media (max-width: 355px) {
  .text1 {
    font-size: 45px;
  }

  .text2 {
    font-size: 25px;
  }
}
