.buttons {
  display: flex;
  justify-content: start;

  width: 100%;
}
.buttons:before {
  display: none;
}
.button-red {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 34px;
  height: 34px;

  border: 3px solid #e53f3f;
  border-radius: 7px;
}

.button-orange {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 34px;
  height: 34px;

  border: 3px solid #f38a2a;
  border-radius: 7px;
}

.button-green {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 34px;
  height: 34px;

  border: 3px solid #76cc67;
  border-radius: 7px;
}

.button-blue {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 34px;
  height: 34px;

  border: 3px solid #3fbee5;
  border-radius: 7px;
}

.button-violet {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 34px;
  height: 34px;

  border: 3px solid #5056b5;
  border-radius: 7px;
}

.red-block {
  width: 17px;
  height: 17px;

  background-color: #e53f3f;
  border-radius: 2px;
}
.orange {
  width: 17px;
  height: 17px;

  background-color: #f38a2a;
  border-radius: 2px;
}
.green {
  width: 17px;
  height: 17px;

  background-color: #76cc67;
  border-radius: 2px;
}
.blue {
  width: 17px;
  height: 17px;

  background-color: #3fbee5;
  border-radius: 2px;
}
.violet {
  width: 17px;
  height: 17px;

  background-color: #5056b5;
  border-radius: 2px;
}
