@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.header {
  @include flexColumnJustify(space-between);

  flex-wrap: wrap;
  align-items: center;

  padding: 100px 0 46px 0;

  font-family: 'Poppins', sans-serif;
}

.title {
  @include text($textTitleFont, 46px, 900, 60px, $textTitleColor);

  text-align: center;
  letter-spacing: 0.05em;
}

.text {
  @include text($textTitleFont, 16px, 400, 160%, $textTitleSecondColor);

  max-width: 700px;

  text-align: center;
}

@media (max-width: 768px) {
  .header {
    padding: 39px 0 30px 0;
  }
  .title {
    font-size: 40px;
  }
}

@media (max-width: 426px) {
  .header {
    padding: 20px 0 10px 0;
  }
}
