@import 'src/styles/mixin.scss';
@import 'src/styles/variables.scss';

.flower::before {
  content: url('img/flower.svg');

  position: fixed;
  top: 0;
  right: 89.55%;
  bottom: 97.84%;
  left: 1%;
}

.flower {
  @include flexCenterJustify(center);
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 125px;
  background-color: #ffffff;
}

header {
  @include flexColumnJustify(center);
  align-items: flex-end;
  text-align: center;
  width: 75%;
  height: 87px;
  background-color: #ffffff;
}

@media (max-width: 1023px) {
  .flower::before {
    display: none;
  }
  .flower {
    height: 80px;
  }

  header {
    width: 95%;
    height: 70px;
  }
}
