.flower::before {
    content: url("img/flower.svg");
    position: fixed;
    left: 2.06%;
    right: 89.55%;
    top: 0%;
    bottom: 97.84%;
}

.flower {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

header {
    width: 70%;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #ffffff;
}

@media (max-width: 1170px) {
    .flower::before {
        display: none;
    }
    .flower {
        height: 80px;
    }

    header {
        width: 95%;
        height: 70px;
    }
}

