.background {
    position: relative;
    /*min-width: 1600px;
    background: url("./m1-Picture/img/picture.svg");
    height: 876px;
    left: 0;
    top: -337px;
    z-index: -5;*/
}

.background::before {
    content: url("img/flower.svg");
    position: absolute;
    left: 2.06%;
    right: 89.55%;
    top: 0%;
    bottom: 97.84%;
}

.header {
    background-color: #FFFFFF;
    min-height: 135px;
}
/*.flower {*/
/*    display: block;*/
/*    position: absolute;*/
/*    left: 2.06%;*/
/*    right: 89.55%;*/
/*    top: 0%;*/
/*    bottom: 97.84%;*/
/*}*/

.menu {
    max-width: 1170px;
    min-height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacts {
    align-self: flex-end;
}

