@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.border {
  display: flex;

  width: 100%;
  margin: 0 auto;

  background: rgba(248, 248, 248, 0.63);
  border-radius: 16px;
}

.body {
  @include flexColumnJustify(space-evenly);

  @include text($textLinkFont, 46px, 700, 120%, #ffffff);

  gap: 10px;
  align-items: center;

  width: 160%;
  padding: 3% 0;

  background: #0ca941;
  border-radius: 16px;
}

.form {
  @include flexColumnJustify(space-evenly);

  width: 90%;
}

.form input {
  @include text($textFont, 14px, 400, 120%, none);

  gap: 10px;

  margin: 5px;
  padding: 10px 14px;

  background: #ffffff;
  border: $borderButton #bfc3ff;
  border-radius: 4px;
}

.form button {
  @include text($textFont, 18px, 700, 21px, $textButtonColor);

  cursor: pointer;

  height: 59px;
  margin-top: 30px;
  margin-bottom: 5px;

  text-align: center;

  background: #49f3b6;
  border: none;
  border-radius: 90px;
}

.text1 {
  @include text(none, 14px, 400, 120%, none);

  width: 62%;

  text-align: center;
}

.text1 a {
  cursor: pointer;

  color: #ffffff;
  text-decoration: underline;
}
.text1 a:hover {
  cursor: pointer;

  color: #4c5a93;
}

.additional {
  @include text($textCardsFont, 32px, 600, 120%, none);

  @include flexColumnJustify(center);

  padding: 0 3%;
}
.additional a {
  color: #000000;
  text-decoration: underline;
}
.text2 {
  @include text($textCardsFont, 16px, 500, 160%, none);

  width: 100%;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .border {
    flex-direction: column;

    margin: 0 auto;
  }

  .body {
    width: 100%;
  }

  .additional {
    margin: 34px 10px;
  }
}
