.border {
    max-width: 1170px;
    min-height: 479px;
    display: flex;
    justify-content: space-evenly;
    background: rgba(178, 62, 62, 0.63);
    border-radius: 16px;
}

.body {
    min-width: 618px;
    height: 479px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #0CA941;
    border-radius: 16px;
    gap: 10px;
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #FFFFFF;
}
.form {
    width: 486px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form input {
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #BFC3FF;
    border-radius: 4px;
    margin: 4.5px;
}
.form button {
    height: 59px;
    background: #49F3B6;
    border-radius: 90px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 31.5px;
}
.text1 {
    width: 486px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
}

.additional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    color: #000000;
}

.text2 {
    width: 483px;
    height: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}
