.border {
  display: flex;

  width: 100%;
  margin: 0 auto;

  background: rgba(248, 248, 248, 0.63);
  border-radius: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;

  width: 160%;
  padding: 3% 0;

  font-family: 'Inter', sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;

  background: #0ca941;
  border-radius: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 90%;
}

.form input {
  gap: 10px;

  margin: 5px;
  padding: 10px 14px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;

  background: #ffffff;
  border: 1px solid #bfc3ff;
  border-radius: 4px;
}

.form button {
  cursor: pointer;

  height: 59px;
  margin-top: 30px;
  margin-bottom: 5px;

  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  color: #ffffff;
  text-align: center;

  background: #49f3b6;
  border: none;
  border-radius: 90px;
}

.text1 {
  width: 62%;

  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.text1 a {
  cursor: pointer;

  color: #ffffff;
  text-decoration: underline;
}
.text1 a:hover {
  cursor: pointer;

  color: #4c5a93;
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 3%;

  font-family: 'Fredoka', sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  color: #000000;
}
.additional a {
  color: #000000;
  text-decoration: underline;
}
.text2 {
  display: flex;

  width: 100%;
  margin-top: 24px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 160%;
  color: #000000;
}

@media (max-width: 768px) {
  .border {
    flex-direction: column;

    margin: 0 auto;
  }

  .body {
    width: 100%;
  }

  .additional {
    margin: 34px 10px;
  }

  .text2 {
  }
}
