.App {
  position: relative;
}

.App::after {
  content: '';

  position: absolute;
  z-index: -50;
  bottom: 0;

  width: 100%;
  height: 50%;

  background: linear-gradient(180deg, rgba(211, 247, 202, 0) 0%, rgba(12, 169, 65, 0.55) 91.98%);
}

.App::before {
  content: '';

  position: absolute;
  z-index: -60;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: url('./img/Frame.svg');
  background-position: center;
  background-size: cover;
}
