.App {
    position: relative;
}

.App::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(211, 247, 202, 0) 0%, rgba(12, 169, 65, 0.55) 91.98%);
    z-index: -50;
}
