/*Nunito*/

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  src: url('./fonts/Fredoka/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  src: url('./fonts/Fredoka/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url('./fonts/Fredoka/Nunito-Black.ttf') format('truetype');
}

/*Poppins*/

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: url('./fonts/Poppins/Poppins-Black.ttf') format('truetype');
}
/*Rubik*/

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  src: url('./fonts/Rubic/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  src: url('./fonts/Rubic/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url('./fonts/Rubic/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('./fonts/Rubic/Rubik-Bold.ttf') format('truetype');
}
/*Inter*/

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./fonts/Inter/Inter-Bold.ttf') format('truetype');
}
body {
  scroll-behavior: smooth;

  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Nunito', 'Poppins', 'Rubik', 'Inter',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
