/*Fredoka*/
@font-face {
    font-family: 'Fredoka';
    src: url("./fonts/Fredoka/Nunito-SemiBold.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'Fredoka';
    src: url("./fonts/Fredoka/Nunito-Black.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: 'Fredoka';
    src: url("./fonts/Fredoka/Nunito-Black.ttf") format("truetype");
    font-weight: 700;
}

/*Poppins*/
@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
}
/*Rubik*/
@font-face {
    font-family: 'Rubik';
    src: url("./fonts/Rubic/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url("./fonts/Rubic/Rubik-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: 'Rubik';
    src: url("./fonts/Rubic/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik';
    src: url("./fonts/Rubic/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}
/*Inter*/
@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Fredoka', 'Poppins', 'Rubik', 'Inter',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



