body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'FredokaOne-Regular';
    src: local("FredokaOne-Regular"),
    url("/src/fonts/FredokaOne-Regular.ttf");

}

@font-face {
    font-family: Poppins;
    src: url("/src/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}