.header {
    min-height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    max-width: 530px;
    min-height: 110px;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 120%;
    color: #219653;

}

.text {
    max-width: 530px;
    min-height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5B7262;


}
@media (max-width: 1599px) {
    .title {

        text-align: center;
    }
    .text {
        text-align: center;
        margin-bottom: 50px;
    }
}