.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.title {
  font-size: 46px;
  font-weight: 900;
  font-style: normal;
  line-height: 120%;
  color: #219653;
}

.text {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #5b7262;
}

@media (min-width: 1024px) {
  .header {
    padding-right: 20px;
  }
}

@media (max-width: 906px) {
  .title {
    text-align: center;
  }

  .header {
    margin: 0;
  }

  .text {
    margin-bottom: 50px;

    text-align: center;
  }
}
