@import 'src/styles/mixin.scss';

@import 'src/styles/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.title {
  @include text($textTitleFont, 46px, 900, 120%, $textTitleColor);
}

.text {
  @include text($textTitleFont, 16px, 400, 26px, $textTitleSecondColor);
}

@media (min-width: 1024px) {
  .header {
    padding-right: 20px;
  }
}

@media (max-width: 906px) {
  .title {
    text-align: center;
  }

  .header {
    margin: 0;
  }

  .text {
    margin-bottom: 50px;

    text-align: center;
  }
}
